MYSQL_DATABASE=claimtrace
MYSQL_USER=claimtrace
MYSQL_PASSWORD=replace-with-a-long-random-password
MYSQL_ROOT_PASSWORD=replace-with-another-long-random-password

CLAIMTRACE_PORT=9222
CLAIMTRACE_LOG_LEVEL=info
CLAIMTRACE_DEFAULT_USER_ID=local-user
CLAIMTRACE_DEFAULT_DATASET_ID=claimtrace-default
CLAIMTRACE_DEFAULT_DATASET_NAME=Default Knowledge Base

ELASTICSEARCH_INDEX=claimtrace_chunks_v1
ES_JAVA_OPTS=-Xms1g -Xmx1g

CHAT_MODEL=qwen3:8b
CHAT_BASE_URL=http://host.docker.internal:8001/v1
CHAT_API_KEY=replace-with-chat-api-key
CHAT_TIMEOUT_MS=180000

EMBEDDING_MODEL=bge-m3
EMBEDDING_BASE_URL=http://host.docker.internal:6380/v1
EMBEDDING_API_KEY=replace-with-embedding-api-key
EMBEDDING_DIMENSIONS=1024
EMBEDDING_TIMEOUT_MS=120000

RETRIEVAL_CANDIDATE_COUNT=30
RETRIEVAL_FINAL_COUNT=12
RETRIEVAL_DECAY_DAYS=730
